In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("data/planttraits2024/train.csv")

In [8]:
train_df.columns

Index(['id', 'WORLDCLIM_BIO1_annual_mean_temperature',
       'WORLDCLIM_BIO12_annual_precipitation',
       'WORLDCLIM_BIO13.BIO14_delta_precipitation_of_wettest_and_dryest_month',
       'WORLDCLIM_BIO15_precipitation_seasonality',
       'WORLDCLIM_BIO4_temperature_seasonality',
       'WORLDCLIM_BIO7_temperature_annual_range',
       'SOIL_bdod_0.5cm_mean_0.01_deg', 'SOIL_bdod_100.200cm_mean_0.01_deg',
       'SOIL_bdod_15.30cm_mean_0.01_deg',
       ...
       'X18_mean', 'X26_mean', 'X50_mean', 'X3112_mean', 'X4_sd', 'X11_sd',
       'X18_sd', 'X26_sd', 'X50_sd', 'X3112_sd'],
      dtype='object', length=176)

In [9]:
target_classes = ['X4_mean', 'X11_mean', 'X18_mean', 'X26_mean', 'X50_mean', 'X3112_mean']

In [10]:
train_df[target_classes]

        X4_mean   X11_mean  X18_mean    X26_mean  X50_mean   X3112_mean
0      0.401753  11.758108  0.117484    1.243779  1.849375    50.216034
1      0.480334  15.748846  0.389315    0.642940  1.353468   574.098472
2      0.796917   5.291251  8.552908    0.395241  2.343153  1130.096731
3      0.525236   9.568305  1.083629    0.154200  1.155308  1042.686546
4      0.411821  14.528877  0.657585   10.919966  2.246226  2386.467180
...         ...        ...       ...         ...       ...          ...
55484  0.337243  11.572778  0.233690    1.783193  1.608341   969.547831
55485  0.424371   6.114448  1.017099   12.713048  2.418300  1630.015480
55486  0.639659   5.549596  2.717395   10.206478  2.722599   602.229880
55487  0.774642   7.024218  4.429659    9.372170  3.251739   244.387170
55488  0.551888  13.169623  5.827227  154.773325  1.523978  3740.065672

[55489 rows x 6 columns]